<h1 mat-dialog-title> Convert to smart policy </h1> 
<mat-dialog-content>
    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <p>{{this.id}}</p>

        <input type="text" name="policyId" ngModel placeholder="policyId"> <br> <br>
        <input type="text" name="contractAddress" ngModel placeholder="contractAddress"> <br> <br>
        <input type="text" name="clientAddress" ngModel placeholder="clientAddress"> <br> <br>
        <input type="text" name="insuranceAddress" ngModel placeholder="insuranceAddress"> <br> <br>
        <input type="text" name="brokerAdress" ngModel placeholder="brokerAdress"> <br> <br>
        <input type="text" name="shipmentId" ngModel placeholder="shipmentId"> <br> <br>
        <input type="text" name="shipmentLiability" ngModel placeholder="shipmentLiability"> <br> <br>
        
        <!--Sensors SISTEMA MAP CON CHECKBOX-->

        <button class="mat-raised-button" type="submit"> Create </button>
      </form>
</mat-dialog-content>
  
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <!-- <button class="mat-raised-button mat-primary" [mat-dialog-data]="data"cdkFocusInitial>Confirmar</button> -->
</mat-dialog-actions>