<html>
<head> </head>
<body>
  <h1 mat-dialog-title> Convert to smart policy </h1>
  <mat-dialog-content>
      <!-- <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)"> -->

    <!--poner el puto id-->
    <input type="text" id="policyId" name="policyId" [(ngModel)]="policyId" placeholder="policyId"> <br> <br>
    <!--<input type="text" id="policyId" placeholder="Policy Id">  <br> <br> -->
    <input type="number" id="shipmentId" name="shipmentId" [(ngModel)]="shipmentId" ngModel placeholder="Shipment Id"> <br> <br>
    <input type="number" id="shipmentLiability" name="shipmentLiability" [(ngModel)]="shipmentLiability" ngModel placeholder="Shipment Liability"> <br> <br>

    <!--Sensors SISTEMA MAP CON CHECKBOX-->
    <input type="checkbox" name="sensor" ngModel> temperature <br> <br>

    <input type="number" name="levelDepth" ngModel placeholder="Level Depth"> <br> <br>
    <input type="number" name="levelMinimumRange" ngModel placeholder="min. range"> <br> <br>
    <input type="number" name="levelMaximumRange" ngModel placeholder="max. range"> <br> <br>
    <input type="number" name="percentualWeight" ngModel placeholder="% Weight"> <br> <br>

    <button class="mat-raised-button" type="submit" (click)="onSubmit()"> Create </button>
       <!-- </form> -->
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
  </mat-dialog-actions>
</body>
</html>
