<!--<div *ngFor ='let policy of policies'>
  <a>{{policy.name}}</a>
</div> -->

<!--Filtering keywords by Pol
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Introduce a keyword to search..." #input>
</mat-form-field>
-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let policy"> {{policy.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let policy"> {{policy.name}} </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let policy"> {{policy.duration}} </td>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="territorialScope">
    <th mat-header-cell *matHeaderCellDef> Delivery Country </th>
    <td mat-cell *matCellDef="let policy"> {{policy.territorialScope}} </td>
  </ng-container>

  <!-- Transportation Column -->
  <ng-container matColumnDef="meansOfTransportation">
    <th mat-header-cell *matHeaderCellDef> Transportation </th>
    <td mat-cell *matCellDef="let policy"> {{policy.meansOfTransportation}} </td>
  </ng-container>

  <!-- Sensors Column -->
  <ng-container matColumnDef="numSensors">
    <th mat-header-cell *matHeaderCellDef> # Sensors </th>
    <td mat-cell *matCellDef="let policy"> {{policy.numSensors}} </td>
  </ng-container>

  <!-- Conditions Column -->
  <ng-container matColumnDef="conditions">
    <th mat-header-cell *matHeaderCellDef> Conditions </th>
    <td mat-cell *matCellDef="let policy"> {{policy.conditions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data.  FILTERING PENDENT
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
  -->
</table>