



<h1> Telecom Smart Shimpents </h1>
<div> <app-policy></app-policy> </div>

<div>
  <mat-tab-group dynamicHeight [backgroundColor]="'primary'" [color]="'warn'">
    <mat-tab label="Policies"> 
      <mat-divider></mat-divider>
      <div>
        <app-table> </app-table>
      </div> 
    </mat-tab>
    <mat-tab label="SmartPolicies"> AstraZeneca_April </mat-tab>
    <mat-tab label="Finished Policies"> Pfizer_March </mat-tab>
  </mat-tab-group>
</div>

<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>