<!-- <mat-tab-group> 
  <mat-tab label="First">View 1</mat-tab>
  <mat-tab label="Second">View 2</mat-tab>
  <mat-tab label="Third">View 3</mat-tab>
</mat-tab-group>-->

<h1> Telecom Smart Shimpents</h1>
<!--<app-tabs>
  <app-tab [tabTitle]="'Tab 1'">
    Tab 1 content
  </app-tab>
  <app-tab tabTitle="Tab 2">
    Tab 2 content
  </app-tab>
</app-tabs> -->
<a >
<div>
  <mat-tab-group  dynamicHeight [backgroundColor]="'accent'" [color]="'warn'">
    <mat-tab label="Policies">
      <div>
        <app-policy-table> </app-policy-table>
      </div>
    </mat-tab>
    <mat-divider> </mat-divider>
    <mat-tab label="Smart Policies">
      <div>
        <app-smart-policy-table> </app-smart-policy-table>
      </div>
    </mat-tab>
    <mat-tab label="Finished Policies">
      <div>
        
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<router-outlet></router-outlet> 