table {
    width: 100%;
  }
  
.mat-row {
  background-color:rgb(248,248,255);
}

.mat-cell {
  font-size:medium;
  color: black;
}

.mat-header-cell {
  color: white;
  background-color: grey;
  font-size:medium;
}
