<app-smart-policies-toolbar> </app-smart-policies-toolbar>
<div class="scroll-container" style="overflow: auto">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{smartPolicy.policyId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{smartPolicy.product}} </td>
    </ng-container>

    <ng-container matColumnDef="contractAddress">
      <th mat-header-cell *matHeaderCellDef> Contract Address </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{smartPolicy.contractAddress}} </td>
    </ng-container>
  
    <ng-container matColumnDef="holderName">
      <th mat-header-cell *matHeaderCellDef> Holder </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{smartPolicy.policyHolderName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="shipmentId">
      <th mat-header-cell *matHeaderCellDef> Shipment Id </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{smartPolicy.shipmentID}} </td>
    </ng-container>
    
    <!-- Aqui el button the view details-->
    
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let smartPolicy">
       <button mat-icon-button (click)="openDetails(smartPolicy,smartPolicy.policyId)"> <mat-icon matBadge="{{getAlertsNumber(smartPolicy.policyId)}}"> open_in_new </mat-icon> </button>
       <!-- <button mat-raised-button (click)="openDetails(smartPolicy,smartPolicy.policyId)" matBadge="{{getAlertsNumber(smartPolicy.policyId)}}" color="primary"> Details </button> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="alerts">
      <th mat-header-cell *matHeaderCellDef> Alerts </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{getAlertsNumber(smartPolicy.policyId)}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let smartPolicy"> {{smartPolicy.state}} </td>
    </ng-container>

    <ng-container matColumnDef="deactivationButton">
      <th mat-header-cell *matHeaderCellDef> Click to deactivate </th>
      <td mat-cell *matCellDef="let smartPolicy">
        <button mat-icon-button (click)="deactivate(smartpolicy.id)" [disabled]="deactivateDisabled(smartPolicy.state)"> <mat-icon>remove_circle_outline</mat-icon> </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
</div>