
<a >
<div>
  <mat-tab-group  dynamicHeight [backgroundColor]="'primary'" [color]="'primary'">
    <mat-tab label="Policies">
      <div>
        <app-policy-table> </app-policy-table>
      </div>
    </mat-tab>
    <mat-divider> </mat-divider>
    <mat-tab label="Smart Policies">
      <div>
        <app-smart-policy-table> </app-smart-policy-table>
      </div>
    </mat-tab>
    <!--<mat-tab label="Finished Policies">
      <div>
        
      </div>
    </mat-tab>-->

  </mat-tab-group>
</div>
