<h1 mat-dialog-title> New policy </h1>
<mat-dialog-content>
    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
        <!--Imput parameters-->
        <!--Angular to API-->
        <input type="text" name="policyName" ngModel placeholder="policyName"> <br> <br>
        <input type="text" name="policyHolderCIF" ngModel placeholder="policyHolderCIF"> <br> <br>
        <input type="text" name="policyHolderName" ngModel placeholder="policyHolderName"> <br> <br>
        <input type="text" name="product" ngModel placeholder="product"> <br> <br>
        <input type="text" name="territorialScope" ngModel placeholder="territorialScope"> <br> <br>
        <input type="number" id="quantity" name="contractPremium" ngModel placeholder="contractPremium"> <br> <br>
        <input type="number" id="quantity" name="contractLiability" ngModel placeholder="contractLiability"> <br> <br>
        <input type="number" id="quantity" name="expiryTimestamp" ngModel placeholder="expiryTimestamp"> <br> <br>
        
        <!--Added for the customer. Ya veremos, igual se quitan
        <input type="text" name="description" ngModel placeholder="description"> <br> <br>
        <input type="text" name="mailAdress" ngModel placeholder="mailAdress"> <br> <br>
        <input type="text" name="duration" ngModel placeholder="duration"> <br> <br> -->

        <button class="mat-raised-button" type="submit"> Create </button>
      </form>


    <!--<mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description"
        >
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.id" 
        type="number" placeholder="Id">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name" 
        type="string" placeholder="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.duration" 
        type="string" placeholder="duration">
    </mat-form-field>-->
</mat-dialog-content>
  
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()"> Cancel </button>
    <!-- <button class="mat-raised-button mat-primary" [mat-dialog-data]="data"cdkFocusInitial>Confirmar</button> -->
</mat-dialog-actions>
