<button mat-icon-button (click)="onClick()">
  <mat-icon> arrow_back </mat-icon>
</button>
  <h1>&nbsp; Smart Policy Details and Alerts:</h1>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Details
      </mat-panel-title>
      <mat-panel-description>
        Smart policy information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Product: {{smartPolicy.product }}</p>
    <p>Description: {{ smartPolicy.description }}</p>
    <p>HolderName: {{ smartPolicy.policyHolderName }}</p>
    <p>MailAdress: {{ smartPolicy.mailAdress }}</p>
    <p>Duration: {{ smartPolicy.duration }}</p>
    <p>Territorial Scope: {{ smartPolicy.territorialScope }}</p>
    <p>Policy Id: {{ smartPolicy.policyId }}</p>
    <p>clientAdress: {{ smartPolicy.clientAdress }}</p>
    <p>Insurance Address: {{ smartPolicy.insuranceAddress }}</p>
    <p>Broker Address: {{ smartPolicy.brokerAdress }}</p>
    <p>Shipment Id: {{ smartPolicy.shipmentID }}</p>
    <p>Shipment Liability: {{ smartPolicy.shipmentLiability }}</p>
    <p>Premium: {{ smartPolicy.contractPremium }}</p>
    <p>Liability: {{ smartPolicy.contractLiability }}</p>

    <!--
    <tr *ngFor="let sensor of smartPolicy.sensors">
      <p> Sensor Id: {{sensor.value.sensorId}} </p>
      <p> Name: {{smartPolicy.sensor.sensorName}} </p>
      <p> Type: {{smartPolicy.sensor.type}} </p>
      <p> Level Depth: {{smartPolicy.sensor.levelDepth}}</p>
      <p> Level Min: {{smartPolicy.sensor.levelMinimumRange}}</p>
      <p> Level Max: {{smartPolicy.sensor.levelMaximumRange}}</p>
      <p> % Weight: {{smartPolicy.sensor.percentualWeight}} </p>
    </tr>
  -->
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Alerts
      </mat-panel-title>
      <mat-panel-description>
        Current alerts
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="alerts!=null">
      <div *ngFor="let item of alerts">
        <p>State: {{item.state}}</p>
        <p>Id: {{item.id}}</p>
        <div *ngIf="item.events!=null">
          <div *ngFor=" let event of item.events | keyvalue">
              <p> Type: {{event.value.type}} </p>
              <p> Level Id: {{event.value.levelID}} </p>
              <p> Sensor Data: {{event.value.updatedData}} </p>
              <p> Data Excess: {{event.value.updatedDataExcess}} </p>
              <p> Level Excess Time: {{event.value.levelExcessTime}} </p>
              <p> Contract Reserve: {{event.value.contractReserve}} </p>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
