<button mat-icon-button (click)="onClick()">
  <mat-icon> arrow_back </mat-icon>
</button>
  <h1>&nbsp; Smart Policy Details and Alerts:</h1>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Details
      </mat-panel-title>
      <mat-panel-description>
        Smart policy information
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-divider> </mat-divider>
    <br>
    <p>Policy Id: {{ smartPolicy.policyId }}</p>
    <p>Product: {{smartPolicy.product }}</p>
    <p>HolderName: {{ smartPolicy.policyHolderName }}</p>
    <p>Territorial Scope: {{ smartPolicy.territorialScope }}</p>
    <p>Client Address: {{ smartPolicy.clientAddress }}</p>
    <p>Insurance Address: {{ smartPolicy.insuranceAddress }}</p>
    <p>Broker Address: {{ smartPolicy.brokerAddress }}</p>
    <p>Shipment Id: {{ smartPolicy.shipmentID }}</p>
    <p>Shipment Liability: {{ smartPolicy.shipmentLiability }}</p>
    <p>Premium: {{ smartPolicy.contractPremium }}</p>
    <p>Liability: {{ smartPolicy.contractLiability }}</p>
    
    <br>
    <p> Sensors: </p>

    <div *ngFor="let sensor of smartPolicy.sensors | keyvalue">
        <p> &nbsp; Sensor Id: {{sensor.key}} </p> 
        <p> &nbsp; levelDepth:  {{sensor.value.levelDepth}} </p>
        <p> &nbsp; levelMinimumRange: {{ sensor.value.levelMinimumRange }}</p>
        <p> &nbsp; levelMaximumRange: {{ sensor.value.levelMaximumRange }}</p>
        <p> &nbsp; percentualWeight: {{ sensor.value.percentualWeight }}</p>
        <br>

    </div>

  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Alerts
      </mat-panel-title>
      <mat-panel-description>
        Current alerts
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="alerts!=null">
      <div *ngFor="let item of alerts">
        <mat-divider> </mat-divider>
        <br>
        <p>Alert: </p>
        <p>State: {{item.state}}</p>
        <p>Id: {{item.id}}</p>
        <p>Sensors data:</p>
        <div *ngIf="item.events!=null">
          <div *ngFor=" let event of item.events | keyvalue">
              <p> &nbsp; Type: {{event.value.type}} </p>
              <p> &nbsp; Level Id: {{event.value.levelID}} </p>
              <p> &nbsp; Sensor Data: {{event.value.updatedData}} </p>
              <p> &nbsp; Data Excess: {{event.value.updatedDataExcess}} </p>
              <p> &nbsp; Level Excess Time: {{event.value.levelExcessTime}} </p>
              <p> &nbsp; Contract Reserve: {{event.value.contractReserve}} </p>
              <br>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
