<!--  <h1 [routerLink]="['/smartpolicy-details']" >prova route</h1> -->

<h1 mat-dialog-title> Details of the smart policy </h1> 
<mat-dialog-content> 
<p> id: {{data.smartPolicy.id}} </p>
<p> product: {{data.smartPolicy.product}} </p>
<p> description: {{data.smartPolicy.description}} </p> 
<p> holderName: {{data.smartPolicy.holderName}} </p>
<p> mailAdress: {{data.smartPolicy.mailAdress}} </p>
<p> duration: {{data.smartPolicy.duration}} </p>
<p> territorialScope: {{data.smartPolicy.territorialScope}} </p>
<p> meansOfTransport: {{data.smartPolicy.meansOfTransport}} </p>
<p> numSensors: {{data.smartPolicy.numSensors}} </p>
<p> {{data.smartPolicy.conditions}} </p>
<p> {{data.smartPolicy.policyId}} </p>
<p> clientAdress: {{data.smartPolicy.clientAdress}} </p>
<p> insuranceAddress: {{data.smartPolicy.insuranceAddress}} </p>
<p> {{data.smartPolicy.brokerAdress}} </p>
<p> {{data.smartPolicy.shipmentID}} </p>
<p> {{data.smartPolicy.shipmentLiability}} </p>
<p> {{data.smartPolicy.sensorID}} </p>
<p> {{data.smartPolicy.sensorType}} </p>
<p> {{data.smartPolicy.levelDepth}} </p>
<p> {{data.smartPolicy.levelType}} </p>
<p> {{data.smartPolicy.levelMinimumRange}} </p>
<p> {{data.smartPolicy.levelMaximumRange}} </p>
<p> {{data.smartPolicy.percentualWeight}} </p>
<p> {{data.smartPolicy.contractPremium}} </p>
<p> {{data.smartPolicy.contractLiability}} </p>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
</mat-dialog-actions>